In [2]:
conda install -c cyclus java-jdk

SyntaxError: invalid syntax (3798296255.py, line 1)

In [ ]:
pip install pyspark

In [1]:
#Creating Spark Session

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *


spark=SparkSession.builder.master('local').appName('project').getOrCreate()

## Reading data from MYSQL and storing as Spark Dataframe

In [55]:
#All OLTP columns
def read_dataframe(name):
    df=spark.read.format('jdbc').option("url","jdbc:mysql://localhost:3307/classicmodels").\
                            option("driver","com.mysql.jdbc.Driver").\
                            option("user","root").option("password","example").option('dbtable',name).load()
    return df
oltp_dict={}


for i in ['customers','offices','employees','orderdetails','orders','payments','productlines','products']:
    oltp_dict['df_'+i]=read_dataframe(i)

## Creating OLAP Columns with Spark

In [43]:

#Creatin Spark dataframes
dim_location=oltp_dict['df_customers'].withColumn('location_id',monotonically_increasing_id()).select('location_id','city','state','postalCode','country')

dim_customer=oltp_dict['df_customers'].select(col('customerNumber').alias('customer_id'),'customerName',col('salesRepEmployeeNumber').alias('sales_employee_id'),'addressLine1','addressLine2','creditLimit')

dim_product=data_dict['df_products'].select(col('productCode').alias('product_id'),'productName','productScale','productVendor','quantityInStock','buyPrice','MSRP')

dim_employee=data_dict['df_employees'].select(col('employeeNumber').alias('employee_id'),'firstName','lastName','extension',col('email').alias('email_id'),'officeCode',col('reportsTo').alias('supervisor_id'),'jobTitle')

dim_date=data_dict['df_orders'].select(col('orderDate').alias('date'),dayofweek('orderDate').alias('dayofweek'),dayofmonth('orderDate').alias('dayofmonth'),weekofyear('orderDate').alias('weeknumber'),month('orderDate').alias('monthnumber'),quarter('orderDate').alias('quarternumber'),year('orderDate').alias('year'))


# Register the DataFrames as a SQL temporary view for using joins

oltp_dict['df_customers'].createOrReplaceTempView("customers")
dim_location.createOrReplaceTempView("location")
oltp_dict['df_employees'].createOrReplaceTempView("employees")
dim_product.createOrReplaceTempView("products")
dim_date.createOrReplaceTempView("date")
oltp_dict['df_orderdetails'].createOrReplaceTempView('order_details')
oltp_dict['df_orders'].createOrReplaceTempView('orders')

query='''select c.customerNumber as customer_id,p.product_id,e.employeeNumber as employee_id,l.location_id,o.orderDate as date,od.priceEach as unit_price,od.quantityOrdered as quantity,o.status
         from  orders o inner join order_details od on o.orderNumber=od.orderNumber
         inner join products p on p.product_id=od.productCode
         inner join customers c on c.customerNumber=o.customerNumber
         inner join employees e on e.employeeNumber=c.salesRepEmployeeNumber
         inner join location l on l.postalCode=c.postalCode
         '''

fact_sales=spark.sql(query)

+-----------+----------+-----------+-----------+----------+----------+--------+-------+
|customer_id|product_id|employee_id|location_id|      date|unit_price|quantity| status|
+-----------+----------+-----------+-----------+----------+----------+--------+-------+
|        161|  S10_4698|       1165|        118|2005-01-05|    182.04|      22|Shipped|
|        161|  S10_4698|       1165|        102|2005-01-05|    182.04|      22|Shipped|
|        161|  S10_4698|       1165|         68|2005-01-05|    182.04|      22|Shipped|
|        161|  S10_4698|       1165|         17|2005-01-05|    182.04|      22|Shipped|
|        161|  S10_4698|       1165|          8|2005-01-05|    182.04|      22|Shipped|
|        161|  S12_2823|       1165|        118|2005-01-05|    131.04|      22|Shipped|
|        161|  S12_2823|       1165|        102|2005-01-05|    131.04|      22|Shipped|
|        161|  S12_2823|       1165|         68|2005-01-05|    131.04|      22|Shipped|
|        161|  S12_2823|       1165|         17|2005-01-05|    131.04|      22|Shipped|
|        161|  S12_2823|       1165|          8|2005-01-05|    131.04|      22|Shipped|
|        161|  S18_2625|       1165|        118|2005-01-05|     53.91|      23|Shipped|
|        161|  S18_2625|       1165|        102|2005-01-05|     53.91|      23|Shipped|
|        161|  S18_2625|       1165|         68|2005-01-05|     53.91|      23|Shipped|
|        161|  S18_2625|       1165|         17|2005-01-05|     53.91|      23|Shipped|
|        161|  S18_2625|       1165|          8|2005-01-05|     53.91|      23|Shipped|
|        161|  S24_1578|       1165|        118|2005-01-05|     91.29|      50|Shipped|
|        161|  S24_1578|       1165|        102|2005-01-05|     91.29|      50|Shipped|
|        161|  S24_1578|       1165|         68|2005-01-05|     91.29|      50|Shipped|
|        161|  S24_1578|       1165|         17|2005-01-05|     91.29|      50|Shipped|
|        161|  S24_1578|       1165|          8|2005-01-05|     91.29|      50|Shipped|
+-----------+----------+-----------+-----------+----------+----------+--------+-------+
only showing top 20 rows

+-----------+-------------+--------+----------+---------+
|location_id|         city|   state|postalCode|  country|
+-----------+-------------+--------+----------+---------+
|          0|       Nantes|    null|     44000|   France|
|          1|    Las Vegas|      NV|     83030|      USA|
|          2|    Melbourne|Victoria|      3004|Australia|
|          3|       Nantes|    null|     44000|   France|
|          4|      Stavern|    null|      4110|   Norway|
|          5|   San Rafael|      CA|     97562|      USA|
|          6|     Warszawa|    null|    01-012|   Poland|
|          7|    Frankfurt|    null|     60528|  Germany|
|          8|San Francisco|      CA|     94217|      USA|
|          9|          NYC|      NY|     10022|      USA|
|         10|       Madrid|    null|     28034|    Spain|
|         11|        Luleå|    null|  S-958 22|   Sweden|
|         12|    Kobenhavn|    null|      1734|  Denmark|
|         13|         Lyon|    null|     69004|   France|
|         14|    Singapore|    null|    079903|Singapore|
|         15|          NYC|      NY|     10022|      USA|
|         16|    Allentown|      PA|     70267|      USA|
|         17|   Burlingame|      CA|     94217|      USA|
|         18|    Singapore|    null|    069045|Singapore|
|         19|       Bergen|    null|    N 5804| Norway  |
+-----------+-------------+--------+----------+---------+
only showing top 20 rows

+-----------+--------------------+-----------------+--------------------+--------------------+-----------+
|customer_id|        customerName|sales_employee_id|        addressLine1|        addressLine2|creditLimit|
+-----------+--------------------+-----------------+--------------------+--------------------+-----------+
|        103|   Atelier graphique|             1370|      54, rue Royale|                null|   21000.00|
|        112|  Signal Gift Stores|             1166|     8489 Strong St.|                null|   71800.00|
|        114|Australian Collec...|             1611|   636 St Kilda Road|             Level 3|  117300.00|
|        119|   La Rochelle Gifts|             1370|67, rue des Cinqu...|                null|  118200.00|
|        121|  Baane Mini Imports|             1504|Erling Skakkes ga...|                null|   81700.00|
|        124|Mini Gifts Distri...|             1165|     5677 Strong St.|                null|  210500.00|
|        125|  Havel & Zbyszek Co|             null|     ul. Filtrowa 68|                null|       0.00|
|        128|Blauer See Auto, Co.|             1504|       Lyonerstr. 34|                null|   59700.00|
|        129|     Mini Wheels Co.|             1165|5557 North Pendal...|                null|   64600.00|
|        131|   Land of Toys Inc.|             1323|897 Long Airport ...|                null|  114900.00|
|        141|Euro+ Shopping Ch...|             1370|  C/ Moralzarzal, 86|                null|  227600.00|
|        144|Volvo Model Repli...|             1504|     Berguvsvägen  8|                null|   53100.00|
|        145|Danish Wholesale ...|             1401|        Vinbæltet 34|                null|   83400.00|
|        146|Saveley & Henriot...|             1337|  2, rue du Commerce|                null|  123900.00|
|        148|Dragon Souveniers...|             1621|          Bronz Sok.|Bronz Apt. 3/6 Te...|  103800.00|
|        151|  Muscle Machine Inc|             1286|   4092 Furth Circle|           Suite 400|  138500.00|
|        157|Diecast Classics ...|             1216|    7586 Pompton St.|                null|  100600.00|
|        161|Technics Stores Inc.|             1165|   9408 Furth Circle|                null|   84600.00|
|        166|    Handji Gifts& Co|             1612|106 Linden Road S...|           2nd Floor|   97900.00|
|        167|        Herkku Gifts|             1504|     Brehmen St. 121|      PR 334 Sentrum|   96800.00|
+-----------+--------------------+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

+-----------+---------+---------+---------+--------------------+----------+-------------+--------------------+
|employee_id|firstName| lastName|extension|            email_id|officeCode|supervisor_id|            jobTitle|
+-----------+---------+---------+---------+--------------------+----------+-------------+--------------------+
|       1002|    Diane|   Murphy|    x5800|dmurphy@classicmo...|         1|         null|           President|
|       1056|     Mary|Patterson|    x4611|mpatterso@classic...|         1|         1002|            VP Sales|
|       1076|     Jeff| Firrelli|    x9273|jfirrelli@classic...|         1|         1002|        VP Marketing|
|       1088|  William|Patterson|    x4871|wpatterson@classi...|         6|         1056|Sales Manager (APAC)|
|       1102|   Gerard|   Bondur|    x5408|gbondur@classicmo...|         4|         1056| Sale Manager (EMEA)|
|       1143|  Anthony|      Bow|    x5428|abow@classicmodel...|         1|         1056|  Sales Manager (NA)|
|       1165|   Leslie| Jennings|    x3291|ljennings@classic...|         1|         1143|           Sales Rep|
|       1166|   Leslie| Thompson|    x4065|lthompson@classic...|         1|         1143|           Sales Rep|
|       1188|    Julie| Firrelli|    x2173|jfirrelli@classic...|         2|         1143|           Sales Rep|
|       1216|    Steve|Patterson|    x4334|spatterson@classi...|         2|         1143|           Sales Rep|
|       1286| Foon Yue|    Tseng|    x2248|ftseng@classicmod...|         3|         1143|           Sales Rep|
|       1323|   George|   Vanauf|    x4102|gvanauf@classicmo...|         3|         1143|           Sales Rep|
|       1337|     Loui|   Bondur|    x6493|lbondur@classicmo...|         4|         1102|           Sales Rep|
|       1370|   Gerard|Hernandez|    x2028|ghernande@classic...|         4|         1102|           Sales Rep|
|       1401|   Pamela| Castillo|    x2759|pcastillo@classic...|         4|         1102|           Sales Rep|
|       1501|    Larry|     Bott|    x2311|lbott@classicmode...|         7|         1102|           Sales Rep|
|       1504|    Barry|    Jones|     x102|bjones@classicmod...|         7|         1102|           Sales Rep|
|       1611|     Andy|   Fixter|     x101|afixter@classicmo...|         6|         1088|           Sales Rep|
|       1612|    Peter|    Marsh|     x102|pmarsh@classicmod...|         6|         1088|           Sales Rep|
|       1619|      Tom|     King|     x103|tking@classicmode...|         6|         1088|           Sales Rep|
+-----------+---------+---------+---------+--------------------+----------+-------------+--------------------+
only showing top 20 rows

+----------+--------------------+------------+--------------------+---------------+--------+------+
|product_id|         productName|productScale|       productVendor|quantityInStock|buyPrice|  MSRP|
+----------+--------------------+------------+--------------------+---------------+--------+------+
|  S10_1678|1969 Harley David...|        1:10|     Min Lin Diecast|           7933|   48.81| 95.70|
|  S10_1949|1952 Alpine Renau...|        1:10|Classic Metal Cre...|           7305|   98.58|214.30|
|  S10_2016|1996 Moto Guzzi 1...|        1:10|Highway 66 Mini C...|           6625|   68.99|118.94|
|  S10_4698|2003 Harley-David...|        1:10|   Red Start Diecast|           5582|   91.02|193.66|
|  S10_4757| 1972 Alfa Romeo GTA|        1:10|Motor City Art Cl...|           3252|   85.68|136.00|
|  S10_4962|1962 LanciaA Delt...|        1:10| Second Gear Diecast|           6791|  103.42|147.74|
|  S12_1099|   1968 Ford Mustang|        1:12|Autoart Studio De...|             68|   95.34|194.57|
|  S12_1108|   2001 Ferrari Enzo|        1:12| Second Gear Diecast|           3619|   95.59|207.80|
|  S12_1666|      1958 Setra Bus|        1:12|Welly Diecast Pro...|           1579|   77.90|136.67|
|  S12_2823|    2002 Suzuki XREO|        1:12|Unimax Art Galleries|           9997|   66.27|150.62|
|  S12_3148|  1969 Corvair Monza|        1:18|Welly Diecast Pro...|           6906|   89.14|151.08|
|  S12_3380|  1968 Dodge Charger|        1:12|Welly Diecast Pro...|           9123|   75.16|117.44|
|  S12_3891|    1969 Ford Falcon|        1:12| Second Gear Diecast|           1049|   83.05|173.02|
|  S12_3990|1970 Plymouth Hem...|        1:12| Studio M Art Models|           5663|   31.92| 79.80|
|  S12_4473|   1957 Chevy Pickup|        1:12|       Exoto Designs|           6125|   55.70|118.50|
|  S12_4675|  1969 Dodge Charger|        1:12|Welly Diecast Pro...|           7323|   58.73|115.16|
|  S18_1097|1940 Ford Pickup ...|        1:18| Studio M Art Models|           2613|   58.33|116.67|
|  S18_1129|     1993 Mazda RX-7|        1:18|Highway 66 Mini C...|           3975|   83.51|141.54|
|  S18_1342|1937 Lincoln Berline|        1:18|Motor City Art Cl...|           8693|   60.62|102.74|
|  S18_1367|1936 Mercedes-Ben...|        1:18| Studio M Art Models|           8635|   24.26| 53.91|
+----------+--------------------+------------+--------------------+---------------+--------+------+
only showing top 20 rows

+----------+---------+----------+----------+-----------+-------------+----+
|      date|dayofweek|dayofmonth|weeknumber|monthnumber|quarternumber|year|
+----------+---------+----------+----------+-----------+-------------+----+
|2003-01-06|        2|         6|         2|          1|            1|2003|
|2003-01-09|        5|         9|         2|          1|            1|2003|
|2003-01-10|        6|        10|         2|          1|            1|2003|
|2003-01-29|        4|        29|         5|          1|            1|2003|
|2003-01-31|        6|        31|         5|          1|            1|2003|
|2003-02-11|        3|        11|         7|          2|            1|2003|
|2003-02-17|        2|        17|         8|          2|            1|2003|
|2003-02-24|        2|        24|         9|          2|            1|2003|
|2003-03-03|        2|         3|        10|          3|            1|2003|
|2003-03-10|        2|        10|        11|          3|            1|2003|
|2003-03-18|        3|        18|        12|          3|            1|2003|
|2003-03-25|        3|        25|        13|          3|            1|2003|
|2003-03-24|        2|        24|        13|          3|            1|2003|
|2003-03-26|        4|        26|        13|          3|            1|2003|
|2003-04-01|        3|         1|        14|          4|            2|2003|
|2003-04-04|        6|         4|        14|          4|            2|2003|
|2003-04-11|        6|        11|        15|          4|            2|2003|
|2003-04-16|        4|        16|        16|          4|            2|2003|
|2003-04-21|        2|        21|        17|          4|            2|2003|
|2003-04-28|        2|        28|        18|          4|            2|2003|
+----------+---------+----------+----------+-----------+-------------+----+
only showing top 20 rows

## Showing All OLAP dataframes

In [ ]:
fact_sales.show()
dim_location.show()
dim_customer.show()
dim_employee.show()
dim_product.show()
dim_date.show()

## Storing both OLAP and OLTP columns data into AWS S3

In [58]:
from io import StringIO
import boto3
import pandas


AWS_S3_BUCKET = 'retail-project-bucket'
AWS_ACCESS_KEY_ID = 'AKIA3SM27RYJEOFHFFAS'
AWS_SECRET_ACCESS_KEY = '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'

## S3_client Creation
s3_client = boto3.client(
    "s3",
    region_name='ap-south-1',
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
)

In [59]:
olap_dict={'dim_location':dim_location,'dim_customer':dim_customer,'dim_product':dim_product,'dim_employee':dim_employee,'dim_date':dim_date,'fact_sales':fact_sales}

def data_to_s3(d:dict,f:str):    
    for i in d:
        df=d[i].toPandas()
        with StringIO() as csv_buffer:
            df.to_csv(csv_buffer)
            response=s3_client.put_object(Bucket=AWS_S3_BUCKET,Key=f+'/'+i+'.csv',Body=csv_buffer.getvalue())  

            Status=response.get("ResponseMetadata",{}).get("HTTPStatusCode")

            if Status == 200:
                print(f'Successful S3 put_object response for {i}. Status - {Status}')
            else:
                print(f'Unsuccessful S3 put_object response for {i}. Status - {Status}')


print('Transferring  OLTP Columns data into S3')
data_to_s3(d=oltp_dict,f='oltp')
print('Transferring OLAP Columns data into S3')
data_to_s3(d=olap_dict,f='olap')

Transferring  OLTP Columns data into S3
Successful S3 put_object response for df_customers. Status - 200
Successful S3 put_object response for df_offices. Status - 200
Successful S3 put_object response for df_employees. Status - 200
Successful S3 put_object response for df_orderdetails. Status - 200
Successful S3 put_object response for df_orders. Status - 200
Successful S3 put_object response for df_payments. Status - 200
Successful S3 put_object response for df_productlines. Status - 200
Successful S3 put_object response for df_products. Status - 200
Transferring OLAP Columns data into S3
Successful S3 put_object response for dim_location. Status - 200
Successful S3 put_object response for dim_customer. Status - 200
Successful S3 put_object response for dim_product. Status - 200
Successful S3 put_object response for dim_employee. Status - 200
Successful S3 put_object response for dim_date. Status - 200
Successful S3 put_object response for fact_sales. Status - 200

In [65]:
for i in olap_dict:
    olap_dict[i].printSchema()

root
 |-- location_id: long (nullable = false)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postalCode: string (nullable = true)
 |-- country: string (nullable = true)

root
 |-- customer_id: integer (nullable = true)
 |-- customerName: string (nullable = true)
 |-- sales_employee_id: integer (nullable = true)
 |-- addressLine1: string (nullable = true)
 |-- addressLine2: string (nullable = true)
 |-- creditLimit: decimal(10,2) (nullable = true)

root
 |-- product_id: string (nullable = true)
 |-- productName: string (nullable = true)
 |-- productScale: string (nullable = true)
 |-- productVendor: string (nullable = true)
 |-- quantityInStock: integer (nullable = true)
 |-- buyPrice: decimal(10,2) (nullable = true)
 |-- MSRP: decimal(10,2) (nullable = true)

root
 |-- employee_id: integer (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- extension: string (nullable = true)
 |-- email_id: string (nullable = true)
 |-- officeCode: string (nullable = true)
 |-- supervisor_id: integer (nullable = true)
 |-- jobTitle: string (nullable = true)

root
 |-- date: date (nullable = true)
 |-- dayofweek: integer (nullable = true)
 |-- dayofmonth: integer (nullable = true)
 |-- weeknumber: integer (nullable = true)
 |-- monthnumber: integer (nullable = true)
 |-- quarternumber: integer (nullable = true)
 |-- year: integer (nullable = true)

root
 |-- customer_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- employee_id: integer (nullable = true)
 |-- location_id: long (nullable = false)
 |-- date: date (nullable = true)
 |-- unit_price: decimal(10,2) (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- status: string (nullable = true)

In [66]:
pip install redshift_connector

Collecting redshift_connectorNote: you may need to restart the kernel to use updated packages.

  Downloading redshift_connector-2.0.910-py3-none-any.whl (112 kB)
     -------------------------------------- 112.1/112.1 kB 3.2 MB/s eta 0:00:00
Collecting scramp<1.5.0,>=1.2.0 (from redshift_connector)
  Downloading scramp-1.4.4-py3-none-any.whl (13 kB)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (2021.3)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (4.11.1)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (1.21.32)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (2.27.1)
Requirement already satisfied: lxml>=4.6.5 in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (4.8.0)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (1.24.32)
Requirement already satisfied: packaging in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (21.3)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from redshift_connector) (61.2.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.3.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\dell\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\users\dell\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.5.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\dell\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\dell\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3)
Collecting asn1crypto>=1.5.1 (from scramp<1.5.0,>=1.2.0->redshift_connector)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     -------------------------------------- 105.0/105.0 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\dell\anaconda3\lib\site-packages (from packaging->redshift_connector) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Installing collected packages: asn1crypto, scramp, redshift_connector
Successfully installed asn1crypto-1.5.1 redshift_connector-2.0.910 scramp-1.4.4

In [78]:
import redshift_connector
conn=redshift_connector.connect(host='redshift-cluster-2.c2xrmiiphge7.ap-south-1.redshift.amazonaws.com',port=5439,database='dev',user='awsuser',password='Ashraf1395')

InterfaceError: ('communication error', TimeoutError(10060, 'A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond', None, 10060, None))

In [77]:

conn.autocommit=True

cursor=conn.cursor()

     )
cursor.execute('''
CREATE TABLE "dim_location"
    (
        location_id: long (nullable = false)
        city: string (nullable = true)
        state: string (nullable = true)
        postalCode: string (nullable = true)
        country: string (nullable = true)
    )'''
              )
cursor.execute('''
CREATE TABLE "dim_customer"
    (
        customer_id: integer (nullable = true)
        customerName: string (nullable = true)
        sales_employee_id: integer (nullable = true)
        addressLine1: string (nullable = true)
        addressLine2: string (nullable = true)
        creditLimit: decimal(10,2) (nullable = true)
    )'''
              )
cursor.execute('''
CREATE TABLE "dim_product"
    (
         product_id: string (nullable = true)
         productName: string (nullable = true)
         productScale: string (nullable = true)
         productVendor: string (nullable = true)
         quantityInStock: integer (nullable = true)
         buyPrice: decimal(10,2) (nullable = true)
         MSRP: decimal(10,2) (nullable = true)
    )'''
              )
cursor.execute('''
CREATE TABLE "dim_employee"
    (
         employee_id: integer (nullable = true)
         firstName: string (nullable = true)
         lastName: string (nullable = true)
         extension: string (nullable = true)
         email_id: string (nullable = true)
         officeCode: string (nullable = true)
         supervisor_id: integer (nullable = true)
         jobTitle: string (nullable = true)
    )'''
              )

cursor.execute('''
CREATE TABLE "dim_employee"
    (
         customer_id: integer (nullable = true)
         product_id: string (nullable = true)
         employee_id: integer (nullable = true)
         location_id: long (nullable = false)
         date: date (nullable = true)
         unit_price: decimal(10,2) (nullable = true)
         quantity: integer (nullable = true)
         status: string (nullable = true)

    )'''
              )

InterfaceError: ('communication error', TimeoutError(10060, 'A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond', None, 10060, None))

In [80]:
pip install psycopg2

Collecting psycopg2Note: you may need to restart the kernel to use updated packages.
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 5.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [85]:
import psycopg2 as p2

conn=p2.connect(host='redshift-cluster-2.c2xrmiiphge7.ap-south-1.redshift.amazonaws.com',port=5439,dbname='dev',user='awsuser',password='Ashraf1395')

conn.set_session(autocommit=True)

In [ ]:

create table "dim_date"(
    date_id integer,
    dates date,
    dayofweek integer,
    dayofmonth integer,
    weeknumber integer,
    quarternumber integer,
    monthnumber integer,
    year integer
);
COPY "dim_date" 
From 's3://retail-project-bucket/olap/dim_date.csv'
IAM_ROLE 'arn:aws:iam::795430850066:role/service-role/AmazonRedshift-CommandsAccessRole-20230517T121009'
DATEFORMAT 'auto'
IGNOREHEADER 1
DELIMITER ','
REGION 'ap-south-1'

In [ ]:
drop table dim_customer;
CREATE TABLE "dim_customer"
    (
        temp_id integer,
        customer_id integer ,
        customerName varchar ,
        sales_employee_id varchar ,
        addressLine1 varchar ,
        addressLine2 varchar ,
        creditLimit decimal(10,2) 
    )
;
COPY "dim_customer" 
From 's3://retail-project-bucket/olap/dim_customer.csv'
IAM_ROLE 'arn:aws:iam::795430850066:role/service-role/AmazonRedshift-CommandsAccessRole-20230517T121009'
DATEFORMAT 'auto'
IGNOREHEADER 1

REGION 'ap-south-1'

In [ ]:
drop table fact_sales;
CREATE TABLE "fact_sales"
    (
         temp_id integer,
         customer_id integer, 
         product_id varchar,
         employee_id integer, 
         location_id bigint, 
         dates date ,
         unit_price decimal(10,2), 
         quantity integer ,
         status varchar 

    )
;
COPY "fact_sales"
FROM 's3://retail-project-bucket/olap/fact_sales.csv'
IAM_ROLE 'arn:aws:iam::795430850066:role/service-role/AmazonRedshift-CommandsAccessRole-20230517T121009'
IGNOREHEADER 1
DELIMITER ','
REGION 'ap-south-1'

In [ ]:
select * from fact_sales;

select product_id,avg(unit_price),count(quantity) from fact_sales group by product_id;